@import "tailwindcss";

@theme{
  --font-display: sans-serif;
  --breakpoint-3xl: 1920px;
  /* --color-primary:  */
}

@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #F6F6F6;
    overflow-x: hidden;
  }
}
@layer components {
  .bg-dark-green {
    background-color: #124232;
  }
  .text-dark-green {
    color: #124232;
  }
  .bg-light-green {
    background-color: #328E6E;
  }
  .border-light-green {
    border-color: #328E6E;
  }
  .text-light-green {
    color: #328E6E;
  }
  .bg-secondary {
    background-color: #757575;
  }
  .text-secondary {
    color: #757575;
  }
  .text-dark-gray {
    color: #333333;
  }
  .border-dark-gray {
    border-color: #333333;
  }
  .text-shadow-light-gray {
    text-shadow: 1px 1px 2px #757575
  }

}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
  }
  60% {
    opacity: 1;
    transform: translateY(0px) scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.animate-bounce-in {
  animation: bounce-in 0.6s ease-out;
}
