@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: "Poppins", "sans-serif";
  --breakpoint-3xl: 1920px;
  /* --color-primary:  */
}

@layer base{
  html{
    font-family: var(--font-display);
  }
  body{
    background-color: #F6F6F6;
    overflow-x: hidden;
  }
}
@layer components {
  .bg-dark-green {
    background-color: #124232;
  }
  .text-dark-green {
    color: #124232;
  }
  .bg-dark-green {
    background-color: #124232;
  }

  .bg-light-green {
    background-color: #328E6E;
  }
  .border-light-green {
    border-color: #328E6E;
  }
  .text-light-green {
    color: #328E6E;
  }

  .bg-secondary {
    background-color: #757575;
  }
  .text-secondary {
    color: #757575;
  }

  .text-dark-gray {
    color: #333333;
  }
}
